<ion-header>
  <ion-toolbar>
    <ion-title>
      Página no encontrada
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="error-container">
    <div>
      <img class="error-container-img"
           src="https://s0.smartresize.com/wallpaper/404/342/HD-wallpaper-404-blank-logo-no-tumblr-ultra.jpg">
      <div class="error-container-button">
        <ion-button fill="clear" color="dark" (click)="goHomePage()">Página de inicio</ion-button>
        <ion-button fill="clear" color="dark" (click)="goBack()">Regresar</ion-button>
      </div>
    </div>
  </div>
</ion-content>
