<ion-header>
  <ion-toolbar>
    <ion-title>
      Prex
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="error-container">
    <div>
      <div class="page-error">
        <ion-label>
          <p>Oooops!!!</p>
          <h1>404</h1>
          <p>page not found</p>
        </ion-label>
      </div>
      <div class="error-container-button">
        <ion-button fill="clear" color="dark" (click)="goHomePage()">Login</ion-button>
        <ion-button fill="clear" color="dark" (click)="goBack()">Go back</ion-button>
      </div>
    </div>
  </div>
</ion-content>
