.ion-card-container {
  background-color: black;

  &-title {
    margin-bottom: 6%;
  }

  &-description {
    text-align: center;
  }
}

.outline-mode {
  border: 1px solid white;
}

.star-icon {
  color: #f8d32d;
  font-size: 24px;
}

.user-button {
  color: white;
}

.edit-container {
  border-radius: 20px;
  outline: auto;
}


