<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button class="user-button" defaultHref="/home" text=""></ion-back-button>
    </ion-buttons>
    <ion-buttons class="ion-padding-end" slot="end" (click)="onDeleteMovie()">
      <ion-icon name="trash-outline"></ion-icon>
    </ion-buttons>

    <ion-buttons slot="end" class="ion-padding-end" (click)="onEditMovie()">
      <ion-icon name="pencil-outline"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="home-container">
    @if(loadingData) {
    <ion-card class="ion-card-container">
      <ion-item>
        <ion-skeleton-text [animated]="true" style="height: 600px"></ion-skeleton-text>
      </ion-item>

      <ion-card-header>
        <ion-item>
          <ion-skeleton-text [animated]="true" style="width: 60px; height: 40px"></ion-skeleton-text>
        </ion-item>
      </ion-card-header>

      <ion-card-content>
        <ion-skeleton-text [animated]="true" style="height: 120px"></ion-skeleton-text>
      </ion-card-content>
    </ion-card>
    } @else {
    <ion-card class="ion-card-container">
        <ion-card-title class="ion-card-container-title">
          <ion-item>
           <ion-input [(ngModel)]="titleMovie" [readonly]="!editMovie"  [class.outline-mode]="editMovie"></ion-input>
          </ion-item>
        </ion-card-title>
        <ion-item>
          <img [src]="'https://image.tmdb.org/t/p/w500' + movie.poster_path" alt="Silhouette of mountains" />
        </ion-item>

        <ion-card-header>
            <ion-row>
             <ion-col size="6" class="ion-text-start">
                <ion-label class="ion-padding-bottom">Rate</ion-label>
                <div>
                  <ion-icon [name]="getStarIcon(index, movie.vote_average)" class="star-icon" *ngFor="let index of starIndexes"></ion-icon>
                </div>
              </ion-col>
              <ion-col size="6">
                <ion-text class="ion-text-end">
                  <p>{{ movie.release_date | date:'dd-MM-yyyy' }}</p>
                </ion-text>
              </ion-col>
            </ion-row>
        </ion-card-header>

        <ion-card-content class="ion-card-container-description">
          <ion-textarea [autoGrow]="true" [(ngModel)]="overviewMovie" [readonly]="!editMovie" [class.outline-mode]="editMovie"></ion-textarea>
        </ion-card-content>
    </ion-card>
    <div class="ion-text-center">
  <ion-button fill="clear" color="dark" *ngIf="editMovie" (click)="onCancelEdit()">Cancel</ion-button>
  <ion-button fill="clear" color="dark" *ngIf="editMovie" (click)="onConfirmChanges('top')">Confirm</ion-button>
</div>

    }
  </div>

</ion-content>
