<ion-header>
  <ion-toolbar>
    <ion-title>Create Account</ion-title>
  </ion-toolbar>
</ion-header>
<ion-buttons slot="end">
  <ion-icon name="chevron-back-outline"></ion-icon>
  <ion-button (click)="onBackToLogin()" class="user-button">Back to Login</ion-button>
</ion-buttons>

<ion-content class="ion-padding ion-text-center">

  <ion-card class="ion-card-container">

    <div class="ion-card-container-avatar-container">
      <ion-avatar class="ion-card-container-avatar-container-user-avatar">
        <img alt="Silhouette of a person's head" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR9Nx7hMLhYEBqLNwn5HbI5ToqHvMsaJkHNyPFunSbAdJMMOTzSguc2YIG_kS4Cc8-MuI8&usqp=CAU" />
      </ion-avatar>
    </div>
    <ion-card-content>
      <app-auth-user-form [buttonText]="'Create account'" (submitAuth)="onCreateAccount($event)" />
    </ion-card-content>
  </ion-card>

  <ion-toast
    [isOpen]="showToast"
    position="top"
    positionAnchor="footer"
    message="{{messageToast}}"
    cssClass="custom-toast-login"
    duration="2000"
  ></ion-toast>

</ion-content>
